DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/desk"
JWT_SECRET="deskbydp"
JWT_EXPIRES_IN="7d"
PORT=5000
CLIENT_URL="https://desk-client-wgne.vercel.app"
NODE_ENV="development"
CLOUDINARY_CLOUD_NAME="dpuv3uvo1"
CLOUDINARY_API_KEY="715255149878366"
CLOUDINARY_API_SECRET="0rcpgGyu2Ug0JbFvL7Wc9_wlxLs"
SENDGRID_API_KEY=""
SENDGRID_FROM_EMAIL=""
